<!--indexOff: all-->
<header class="kth-header {{{theme}}}">
      <div class="kth-header__container">
        <a href="/" class="kth-logotype">
          <figure>
            <img alt="Till KTH:s startsida" width="64" height="64" src="{{conditionalLogotypeSrc theme proxyPrefix}}">
          </figure>
        </a>
    {{{blocks.megaMenu}}}
    <ul class="kth-header__tools">
      <li>
        <button class="kth-menu-item search">
          <span>{{i18n 'search_button' lang}}</span>
        </button>
        <dialog class="kth-menu-panel">
          <div class="kth-menu-panel__container search">
            <button class="kth-icon-button close">
              <span class="kth-visually-hidden">{{i18n 'close_button_label' lang}}</span>
            </button>
            <div class="kth-menu-panel__content search">
              {{{blocks.search}}}
            </div>
          </div>
        </dialog>
      </li>
      <li>
        {{{languageLink lang translationLinkMessageKey translationLink translationDialogMessageKey}}}
      </li>
    </ul>
    <button class="kth-menu-item menu collapsable">
      <span>{{i18n 'button_mobile_menu_label' lang}}</span>
    </button>
  </div>
</header>
<!--indexOn: all-->